---
layout: base
---
<header>
  <!-- SVG LOGO HERE -->
  {% svg team.name | slug, "logo" %}
  <!-- END SVG LOGO -->
  <h1>{{ title }}</h1>
  
  <dl>
    <dt class="home"></dt>
    <dd>Home</dd>
    <dt class="away"></dt>
    <dd>Away</dd>
  </dl>
</header>

{{ content | safe }}