.hawks {--brand-primary: #e03a3e; --brand-secondary: #C1D32F; --brand-tertiary: #26282A;}
.celtics {--brand-primary: #007A33; --brand-secondary: #BA9653;}
.nets {--brand-primary: #000000; --brand-secondary: #ffffff;}
.hornets {--brand-primary: #1d1160; --brand-secondary: #00788C;}
.bulls {--brand-primary: #CE1141; --brand-secondary: #000000;}
.cavaliers {--brand-primary: #860038; --brand-secondary: #FDBB30; --brand-tertiary: #041E42;}
.mavericks {--brand-primary: #00538C; --brand-secondary: #002B5e;}
.nuggets {--brand-primary: #0E2240; --brand-secondary: #FEC524; --brand-tertiary: #8B2131;}
.pistons {--brand-primary: #C8102E; --brand-secondary: #1d42ba;}
.warriors {--brand-primary: #1D428A; --brand-secondary: #ffc72c;}
.rockets {--brand-primary: #CE1141; --brand-secondary: #000000;}
.pacers {--brand-primary: #002D62; --brand-secondary: #FDBB30;}
.clippers {--brand-primary: #c8102E; --brand-secondary: #1d428a;}
.lakers {--brand-primary: #552583; --brand-secondary: #FDB927;}
.grizzlies {--brand-primary: #5D76A9; --brand-secondary: #12173F; --brand-tertiary: #F5B112;}
.heat {--brand-primary: #98002E; --brand-seconday: #F9A01B; --brand-tertiary: #000000;}
.bucks {--brand-primary: #00471B; --brand-secondary: #EEE1C6;}
.timberwolves {--brand-primary: #0C2340; --brand-secondary: #236192; --brand-tertiary: #78BE20;}
.pelicans {--brand-primary: #0C2340; --brand-secondary: #C8102E; --brand-tertiary: #85714D;}
.knicks {--brand-primary: #006BB6; --brand-secondary: #F58426;}
.thunder {--brand-primary: #007ac1; --brand-secondary: #ef3b24; --brand-tertiary: #002D62;}
.magic {--brand-primary: #0077c0; --brand-secondary: #C4ced4; --brand-tertiary: #000000;}
.sixers {--brand-primary: #006bb6; --brand-secondary: #ed174c; --brand-tertiary: #002B5C;}
.suns {--brand-primary: #1d1160; --brand-secondary: #e56020;}
.trail-blazers {--brand-primary: #E03A3E; --brand-secondary: #000000;}
.kings {--brand-primary: #5a2d81; --brand-secondary: #63727A; --brand-tertiary: #000000;}
.spurs {--brand-primary: #c4ced4; --brand-secondary: #000000;}
.raptors {--brand-primary: #ce1141; --brand-secondary: #000000;}
.jazz {--brand-primary: #002B5C; --brand-secondary: #00471B; --brand-tertiary: #F9A01B;}
.wizards {--brand-primary: #002B5C; --brand-secondary: #e31837; --brand-tertiary: #C4CED4;}

* {
  box-sizing: border-box;
  margin: 0;
}
svg {
  max-width: 100%;
}
html {
  font-size: 1.5vw;
}
body {
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
}
table {
  width: 100%;
  margin-bottom: 3rem;
  border-spacing: .25rem;
}
caption {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
th {
  padding: 1rem;
}
tr {
  display: flex;
  gap: .25rem;
  margin-bottom: .25rem;
}
th, td {
  display: block;
  width: 14.286%;  
  padding: .5rem;
}
td {
  aspect-ratio: 1;
  vertical-align: top;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  position: relative;
}
[data-preseason]:before {
  content: "pre-season";
  position: absolute;
  top: 0;
  left: 0;
  font-size: .75em;
  padding: .25em .5em;
  background-color: red;
  color: white;
  z-index: -1;
}
.home, .away {
  outline: 2px solid black;
  outline-offset: -2px;
}
.home {
  outline-color: red;
}
.date {
  font-weight: bold;
  text-align: right;
  font-size: 1.25rem;
}
.opponent {
  display: block;
  width: 66%;
  aspect-ratio: 1;
  margin-inline: auto;
  flex: 1;
}
.tv {
  height: 1.25em;
  flex-shrink: 1;
}
[aria-describedby="symbol-nbc-sports-chicago-desc"],
[aria-describedby="symbol-nbc-sports-chicago-plus-desc"] {
  aspect-ratio: 752.56/243.9;
}
[aria-describedby="symbol-tnt-desc"] {
  aspect-ratio: 1;
}
[aria-describedby="symbol-nba-tv-desc"] {
  aspect-ratio: 512/498;
}
[aria-describedby="symbol-espn-desc"] {
  aspect-ratio: 512/127.7;
}
figure {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
figcaption {
  display: flex;
  gap: .5em;
  align-items: center;
}
.result {
  text-align: center;
  flex: 1;
  font-weight: bold;
  font-size: 1em;
  white-space: nowrap;
}
.time {
  flex: 1;
  text-align: right;
  font-size: .75rem;
  white-space: nowrap;
}
header {
  margin-bottom: 2rem;  
}
.logo {
  height: 150px;
  aspect-ratio: 1;
}
h1 {
  margin-bottom: 1rem;
}
dl {
  display: flex;
  align-items: center;
  gap: .25rem;
}
dt {
  width: 1rem;
  height: 1rem;
}
dt:not(:first-child) {
  margin-left: 1rem;
}

@media (max-width: 600px) {
  html {
    font-size: revert;
  }
  body {
    padding: 1rem;
  }
  table, tbody, tr, td {
    display: block;
  }
  th, td:not([class]) {
    display: none;
  }
  tr {
    margin: 0;
  }
  caption {
    width: 100%;
    white-space: nowrap;
  }
  td[class] {
    aspect-ratio: revert;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  [data-preseason]:before {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
  }
  .date {
    text-align: right;
    width: 2ch;
  }
  .opponent {
    width: auto;
    height: 4rem;
  }
  [data-opponent] {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
  }
  [data-opponent]:after {
    content: attr(data-opponent);
    font-weight: bold;
    font-size: 1.125rem;
  }
  figure {
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
  figcaption {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: .25rem;
  }
  .time {
    flex: revert;
    font-size: .875rem;
    text-align: right;
  }
  .result {
    flex: revert;
    font-size: 1rem;
  }
}
